/* Comienzo Majo */
.hamburguesa{
	color: black; 
}
/* Fin Majo  */
/*Comienzo Nadia */

/* Fin Nadia  */
/* Comienzo Dani */
#seccionExperiencias {
	float: left;
	width: 601px;
	overflow: hidden;
	height: 205px;
	position: relative;
	margin-top: 20px;
	.flecha {
		position: absolute;
		z-index: 1;
		top: 50%;
		margin-top: -9px;
	}
	.flechaIzq {
		left: 10px;
	}
	.flechaDer {
		right: 10px;
	}
	.carruselExperiencias {
		width: 4000px;
		left: 0px;
		position: absolute;
		z-index: 0;
		.tarjeta {
			float: left;
			height: 203px;
			margin-right: 5px;
			width: 195px;
			text-align:center;
			border:#CCCCCC 1px solid;
			img {
				cursor:pointer;
			}
		}
	}
}
/* Fin Dani */
/* Comienzo   Vale */
/* Fin  Vale */
/* Comienzo Tam */ 
.icon-search2{
	font-size: 25px;
	position: absolute;
	margin-left: 16px;
	margin-top: 25px;
}

.nav-buscador{
	@include lineas-grises;
	.logo{
		@include logo;
	}
	.buscador{
		border: none;
		margin-top: 20px;
		width: 50%;
		float: left;
		padding-left: 55px;
	}
}

.fecha{
	@include lineas-grises;
	padding-bottom: 15px;
	.categorias{
		margin-top: 20px;
	}
	.opciones{
		padding-top: 15px;
	}
	.rango{
		max-width: 100%;
	}
	.icon-question{
		margin-left: 10px;
	}
	.icon-power{
		color: $amarillo;
	}
	.p-reserva{
		margin-top: 15px;
	}
	.select-habitacion{
		font-weight: normal;
		margin-top: 5px;
		background-color: $gris-fondos;
		padding: 5px;
		text-align: center;
		.icon-casa{
			position: relative;
			font-size: 15px;
			margin-left: 0px;
		}
	}
}
/* Fin Tam */
/*Comienzo Jose */ 
.advanced-filter {
	
	.fa-calendar {
		font-size:20px;
		margin-left:10px;
	}
	
	.linea-borde {
		border-bottom: 1px solid $gris-lineas;
		padding-bottom:20px;
		margin-bottom:20px;

	}




}

/* Fin Jose */ 
/*Comienzo Pachi */ 
/* Fin Pachi */ 