/* Comienzo Majo */
/* Fin Majo  */
/*Comienzo Nadia */
/* Fin Nadia  */
/* Comienzo Dani */
/* Fin Dani */
/* Comienzo   Vale */
/* Fin footer Vale */
/* Comienzo Tam */
@mixin logo{
	width: 100px;
	border-right: 1px solid $gris-lineas;
}

@mixin lineas-grises{
	border-bottom: 1px solid $gris-lineas;
}
/* Fin Tam */
/*Comienzo Jose */ 
/* Fin Jose */ 
/*Comienzo Pachi */ 
/* Fin Pachi */ 