/*VARIABLES GENERALES */
/*Colores */
$rosado: #FF5A5F;
$gris-lineas: #DCE0E0;
<<<<<<< HEAD
$gris-fondos: #EDEFED;
$amarillo: #FFB400;
$verde: #00A699;
=======

>>>>>>> 4a33331036135a00849feebaf0e88429a6745ae9
/* Comienzo Majo */
/* Fin Majo  */
/*Comienzo Nadia */
/* Fin Nadia  */
/* Comienzo Dani */
/* Fin Dani */
/* Comienzo Footer  Vale */
/* Fin footer Vale */
/* Comienzo  Pachi */
/* Fin Pachi */

