/*VARIABLES GENERALES */
/*Colores */
$rosado: #FF5A5F;
$gris-lineas: #DCE0E0;
$gris-fondos: #EDEFED;
$amarillo: #FFB400;
/* Comienzo Majo */
/* Fin Majo  */
/*Comienzo Nadia */
/* Fin Nadia  */
/* Comienzo Dani */
/* Fin Dani */
/* Comienzo Footer  Vale */
/* Fin footer Vale */
/* Comienzo  Pachi */
/* Fin Pachi */

