/*Comienzo Search Tam*/

.logo{
	@include logo;
}

.buscador{
	border: none;
	margin-top: 20px;
	width: 50%;
	float: left;
	padding-left: 55px;
}

.icon-search{
	font-size: 25px;
	position: absolute;
	margin-left: 16px;
	margin-top: 25px;
}

/*Fin Search Tam*/