<<<<<<< HEAD
/*VARIABLES GENERALES */
/*Colores */
$rosado :  #FF5A5F;

/* Comienzo Majo */
/* Fin Majo  */
/*Comienzo Nadia */
/* Fin Nadia  */
/* Comienzo Dani */
/* Fin Dani */
/* Comienzo Footer  Vale */
/* Fin footer Vale */
=======
$rosado: #FF5A5F;
$gris-lineas: #DCE0E0;
>>>>>>> 45706a4aafc2be708100a0d0a65fd6bba57be38a
